
<div>
    <h1 id="nav">Dashboard</h1>
    <div class="yourPost">
        <div class="newPostDiv">
            <h2>New Post</h2>
            <div><input type="text" id="postTitle" name="postTitle" placeholder="Post Title"></input></div>
            <div><textarea id="postBody" name="postBody" cols="30" rows="10" placeholder="Post Body"></textarea></div>
            <div><button class="newPostBtn" data-id="{{post.id}}">New Post</button></div>
        </div>
        <div class="updatePostDiv">
            <h2>Update Post</h2>
            <div><input type="hidden" id="updatePostId" name="updatePostId" placeholder="Post ID"></input></div>
            <div><input type="text" id="updatePostTitle" name="updatePostTitle" placeholder="Post Title"></input></div>
            <div><textarea id="updatePostBody" name="updatePostBody" cols="30" rows="10" placeholder="Post Body"></textarea></div>
            <div>
                <button class="updatePostBtn" data-id="{{post.id}}">Update Post</button>
                <button class="cancelUpdateBtn">Cancel</button>
            </div>
        </div>
    </div>

    <div class="allPostsDiv">
        {{#if posts.length}}
            {{#each posts as |post|}}
            <div class="postClass">
                <div class="col-md-8">
                    <div id="title{{post.id}}">{{post.title}}</div>
                    <div id="body{{post.id}}">{{post.body}}</div>
                </div>
                <div class="col-md-4">
                    <button class="deletePostBtn" data-id="{{post.id}}">Delete</button>
                    <button class="editPostBtn" data-id="{{post.id}}">Edit</button>
                </div>
            </div><br/>
            {{/each}}
        </div>
        {{/if}}

    </div>

    </div>
</div>

<script src="./js/dashboard.js"></script>

