<div>
    <h1 id="nav">View Post</h1>
    <div>
            <div class="postClass" >
                <h4>{{post.title}}</h4>
                <p>{{post.body}}</p>
                <p>{{user.username}}</p>
                <p>{{format_date post.createdAt}}</p>
            </div>
            <div id="comment">
                    <input type="hidden" id="username" value="{{user.username}}"/>
                    <textarea id="commentText" name="comment" cols="30" rows="10" placeholder="Comment"></textarea>
                    <div><button class="addCommentBtn" data-id="{{post.id}}">Add Comment</button></div>
            </div>
            <div>
                <div>
                    {{#if post.Comments}}
                    <h1>Comments</h1>
                    {{else}}
                    <h1>No Comments</h1>
                    {{/if}}
                </div>
                {{#each post.Comments as |comment|}} 
                    <div class="postClass">
                        <span>
                            <div class="card">
                                <div class="card-body"><p>{{comment.body}}</p></div>
                                <div class="card-footer">
                                    - Posted by {{comment.username}}
                                </div>
                            </div>    
                        </span>
                    </div>
                {{/each}}
            </div>

    </div>
</div>

<script src="/js/viewPost.js"></script>

