<div>
    <h1>View Post</h1>
    <div>
            <div class="postClass" >
                <h4>{{post.title}}</h4>
                <p>{{post.body}}</p>
                <p>{{post.User.username}}</p>
                <p>{{post.createdAt}}</p>
                <button type="input" data-id="{{post.id}}">Add Comment</button>
            </div>

    </div>
</div>

